* 
{
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

body 
{
	background-image: url("../../public/background.png")
}

.cnv-tool-title
{
	text-align: center;
}

.cnv-tool-label
{
	text-align: center;
	font-weight: bold;
}

.cnv-tool-div
{
	margin: 0 auto;
	/* border: 3px solid white; */
	border-radius: 15px;
	padding: 15px;
}

#cnv-tool-overview-container 
{
	background: transparent;
	border: none;
	height: 85vh;
	width: 60vw;
	padding: 15px;
}

/* 	All the buttons in the application use this as a foundation.
	Created by: Gumpack (Button #87) [https://getcssscan.com/css-buttons-examples]
*/
.cnv-tool-buttons
{
	margin: auto;
  	padding: 15px 30px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
	display: block;
	border: 0px;
	font-weight: 700;
	box-shadow: 0px 0px 14px -7px #f09819;
	background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	font-family:"Playfair Display", serif; 
}

.cnv-tool-buttons:hover 
{
	background-position: right center;
  	color: #fff;
  	text-decoration: none;
}

.cnv-tool-buttons:active 
{
  	transform: scale(0.95);
}

.hidden
{
	display: none;
}