ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(160, 150, 150);
}
  
li 
{
    float: left;
}

li button
{
    display: block;
    color: rgb(58, 52, 52);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li button:hover 
{
    background-color: rgb(218, 218, 218);
}
#cnv-tool-ninjaInfo-container
{
    display: block;
}
#cnv-tool-prizes-container, #cnv-tool-challenges-container
{
    display: none;
}